extends ./layouts/standard.pug

block content
  +section()
    h1 Author
    p
      != 'Developer with a sharp eye for design focused on Frontend/UI  Architecture. Maker of <a href="https://www.nashios.com/?utm_source=tum&utm_medium=author" target="_blank">Nashios</a>, <a href="http://teleflik.com/?utm_source=tum&utm_medium=author" target="_blank">Teleflik</a>, <a href="https://chrome.google.com/webstore/detail/dollert/lkbhlmhaiggihoihajncjlnmbpigbkam" target="_blank">Dollert</a>, <a href="https://angular-rise.firebaseapp.com/#/?utm_source=tum&utm_medium=author" target="_blank">Angular Rise</a>, <a href="http://rafaelcamargo.github.io/ng-surprise" target="_blank">Angular Surprise</a>, <a href="http://rafaelcamargo.github.io/glorious-grid/doc/en-us/?utm_source=tum&utm_medium=author" target="_blank">Glorious Grid</a> and <a href="https://www.npmjs.com/package/gcookie" target="_blank">Glorious Cookie</a>.'
    p
      != 'Get in touch with me, dropping me a <a href="mailto:hello@rafaelcamargo.com">message</a> or reaching me on  social networks: <a href="https://twitter.com/rcamargo" target="_blank">Twitter</a>, <a href="https://dribble.com/rcamargo" target="_blank">Dribbble</a> or <a href="https://github.com/rafaelcamargo" target="_blank">Github</a>.'
