extends ./layouts/standard.pug
include ./components/section.pug
include ./components/logo.pug
include ./components/manifest.pug
include ./components/credits.pug
include ./components/footer.pug

block content
  +section()
    +manifest()
  +section()
    +credits()
