@import '_variables'
@import '_mixins'

.button
  padding 10px
  background-color lighten($color-darkest, 50%)
  color $color-lightest
  text-align center
  text-transform uppercase
  &.button-block
    width 100%
