@require '_mixins'
@require 'native'

.menu
  ul
    margin 0
    padding 0
    list-style-type none
    clearfix()
  li
    @extends h1
    float left
    margin 0
    & + li
      margin 0 0 0 25px

+breakpoint('xs')
  .menu
    li
      & + li
        margin 0 0 0 15px
