@require '_variables'
@require '_mixins'

html,
body
  margin 0
  color $color-darkest
  font-size $font-size-sm
  font-family $font-family-primary

body
  position relative
  padding 0 0 84px
  min-height 100vh
  box-sizing(border-box)

p
  margin 0
  line-height 1.5
  & + p
    margin-top 15px

a
  display inline-block
  color $color-blue
  text-decoration none
  transition(all, 300ms)
  &:hover,
  &:focus,
  &:active
    color $color-blue

input,
textarea,
button
  font-size $font-size-sm
  -webkit-appearance none
  border-radius(3px)
  box-sizing(border-box)
  &:focus,
  &:active
    outline 0

input,
button
  line-height 30px

input,
textarea
  padding 5px
  width 100%
  border 1px solid $color-grey

placeholder($color-grey)
