mixin credits
  .credits
    p
      != 'Created and maintained by <a href="http://www.rafaelcamargo.com/?utm_source=the-unserious-manifest&utm_medium=credits">Rafael Camargo</a>. Check it out on <a href="https://github.com/rafaelcamargo/tum">Github</a>.'
