include ./logo.pug

mixin manifest
  .manifest
    +logo()
    p.
      Success in life is always related to how serious you take it. If you take 
      college seriously, you get a good job. If you take your job seriously, 
      you get a raise. Blah, blah, blah…
    p.
      To take life seriously, nobody needs a purpose. For a successful serious 
      life, purpose is not required, all it requires is effort.
    p.
      However, if you want to dedicate yourself to something, purpose is 
      indispensable. So, when you stop taking life seriously and start 
      dedicating yourself to something, you start being rewarded not for what 
      your teacher or boss might expect, you get rewarded for delivering what 
      nobody would ever expect.
    p.
      Only dedication and purpose do allow us to see what the serious life
      doesn’t.
