mixin menu
  .menu-container
    .menu
      ul
        li
          a(href="/") Manifest
        li
          a(href="/author.html") Author
        li
          a(href="/signatories.html") Signatories
        li
          a(href="/sign.html") Sign
